<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<section>
		<h1 class="text-center">
			<span th:text="${user.name}"></span>, Welcome to Your Dashboard!!
		</h1>
		<br /> <br />
		<h1 class="text-center">
			User Name: <span th:text="${user.name}"></span>
		</h1>
		<h1 class="text-center">
			User Email: <span th:text="${user.email}"></span>
		</h1>

	</section>
</body>
</html>